<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>referredin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandleUser</display-name>
    <servlet-name>HandleUser</servlet-name>
    <servlet-class>com.cloudtour.referredin.service.HandleUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleUser</servlet-name>
    <url-pattern>/HandleUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>com.cloudtour.referredin.service.user.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleFriendship</display-name>
    <servlet-name>HandleFriendship</servlet-name>
    <servlet-class>com.cloudtour.referredin.service.HandleFriendship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleFriendship</servlet-name>
    <url-pattern>/HandleFriendship</url-pattern>
  </servlet-mapping>
</web-app>